body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff; /* Bleu clair */
    margin: 0;
    padding: 0;
    text-align: center; /* Modification pour centrer le texte */
    display: flex;
    flex-direction: column; /* Modification pour un découpage en ligne */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; /* Blanc */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    margin: auto;
}

h1 {
    color: #0056b3; /* Bleu */
}

p {
    color: #333;
    margin-bottom: 20px; /* Ajout d'une marge en bas pour l'espace */
}

.consignes{
    text-align: left;
}
a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #0056b3; /* Bleu foncé */
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px; /* Ajout de l'espace au-dessus du lien */
}

a:hover {
    background-color: #003366; /* Bleu foncé plus foncé */
}

a.add-link {
    background-color: #0056b3; /* Bleu foncé */
}
a.github-link{
    background-color: darkgray;
}
a.add-link:hover {
    background-color: #003366; /* Bleu foncé plus foncé */
}

a.edit-link {
    background-color: #0056b3; /* Bleu foncé */
}

a.edit-link:hover {
    background-color: #003366; /* Bleu foncé plus foncé */
}

a.delete-link {
    background-color: #dc3545; /* Rouge */
}

a.delete-link:hover {
    background-color: #bd2130; /* Rouge plus foncé */
}
